<div class ="container buyer-survey">
      <h2>What kind of home are you looking for?</h2>
  <div class ="row buyer-form-panel">
   <form ng-submit="$ctrl.postSurvey($ctrl.buyerOpts)" class="form-panel">
    <div class="form-group buyers-survey-question">
      <label for="location">Where are you looking?</label>
       <select ng-model="$ctrl.buyerOpts.location" class="form-control" id="buyer-location">
        <option>Ballard</option>
        <option>Queen Anne</option>
      </select>
    </div>
    <div class="form-group buyers-survey-question">
      <label for="size">How many square feet are you looking for?</label>
       <input ng-model="$ctrl.buyerOpts.square_footage" class="form-control" id="size">
    </div>
    <div class="form-group buyers-survey-question">
      <label for="size">What is your budget?</label>
       <input ng-model="$ctrl.buyerOpts.home_value" class="form-control" id="size">
    </div>
    <div class="form-group buyers-survey-question">
      <label for="size">How many bedrooms?</label>
       <select ng-model="$ctrl.buyerOpts.bedrooms" class="form-control" id="size">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="form-group buyers-survey-question">
      <label for="size">How many bathrooms?</label>
       <select ng-model="$ctrl.buyerOpts.bathrooms" class="form-control" id="size">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
   </form>
  </div>
</div>
