
body {
  font-family: 'Open Sans', sans-serif;

}

a {
  color: #00B7FF;
}

.form-contain{
  margin: 0 auto;
  width: 40%;
}

.buyer-survey-anch{
  color: white;
}

.signup-page-header {
  text-align: center;
  padding-bottom: 25px;
}

.login-form-page {
  margin: 0 auto;
  width: 250px;
  padding-bottom: 60px;
}

.container-fluid {
  padding: 0px;
}

#action-item{
  padding-bottom: 200px;
}

#action-item-button{
  color: white;
}

.homepage-img {
  background-image: url('https://goairportshuttle.com/images/site/slider-seattle-1.jpg');
  background-size:cover;
  padding-left: 0;
  padding-right: 0;

}

.navbar{
  color: white;
}


#main-slogan{
  padding-top: 200px;
  padding-bottom: 50px;
  color: white;
}

.main-parent-div{
  text-align: center;
}

.ang-parent-div{
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 100px;
}

.list-of-featured-homes{
  text-align: center;
}


#featured-homes-title{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.homepage-home-img{
  max-width: 350px;
  max-height: 350px;
}
.company-info{
  background-color:#7d8799;
}

.buyer-survey {
  padding-top: 100px;
  text-align: center;
}

.seller-survey {
  padding-top: 50px;
}

.buyer-form-panel{
  display: block;
  text-align: center;
  padding-top: 25px;
}

.form-panel{
  display: inline-block;
}

.signupPage{
  padding-top: 100px;
}

.log-in{
  padding-top: 100px;
}

.dashboard-page{
  padding-top: 100px;
}

.dashboard-edit-button{
  margin-left: 30px;
  margin-top: 20px;
}

.dashboard-side-panel{
  padding-left: 100px;
}

.dashboard-info{
  padding-left: 40px;
}

.dashboard-about-me{
  padding-top: 40px;
}

.listing-page{
  padding-top: 100px;
}

.listing-image{
  text-align: center;
  padding-right: 25px;
}

.action-info-container {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  width: 30%;
  height: 250px;
  padding-top: 3%;
}


.break-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.action-info {
  padding-left: 20px;
}

.action-listing-description {
  padding-top: 25px;
}

.matches-page-container {
  padding-top: 100px;
}

.matchespage-title {
  padding-bottom: 50px;
}

.matches-page-listings-img {
  max-height: 300px;
  max-width: 300px;
}

.user-matches {
  text-align: center;
}

.matches-users-info{
  padding-bottom: 50px;
}

.action-info-container-matches-page {
  padding-bottom: 50px;
}
