
body {
  font-family: 'Open Sans', sans-serif;

}

a {
  color: #00B7FF;
}

.container-fluid {
  padding: 0px;
}

#action-item{
  padding-bottom: 200px;
}

#action-item-button{
  color: white;
}

.homepage-img {
  background-image: url('https://goairportshuttle.com/images/site/slider-seattle-1.jpg');
  background-size:cover;
  padding-left: 0;
  padding-right: 0;

}

.navbar{
  color: white;
}

#main-slogan{
  padding-top: 200px;
  padding-bottom: 50px;
  color: white;
}

.main-parent-div{
  text-align: center;
}

.ang-parent-div{
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 100px;
}

.list-of-featured-homes{
  text-align: center;
}

#featured-homes-title{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}


.featured-homes {
  width: 300px;
  height: 3000px;
}

.company-info{
  background-color:#7d8799;
  display: inline-block;
}

.buyer-survey {
  padding-top: 50px;
}

.seller-survey {
  padding-top: 50px;
}

.buyers-survey-question{

}

.signupPage{
  padding-top: 50px;
}

.log-in{
  padding-top: 100px;
}
